/*------------------------------------------------------------------*/
/*-- MIXINS --*/
/*------------------------------------------------------------------*/
/*-- Transition --*/
@mixin transition($a) {
  -webkit-transition: $a;
  -moz-transition: $a;
  -o-transition: $a;
  transition: $a;
}


/*-- Border radius --*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/*-- Tint and Shade --*/
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}





/*------------------------------------------------------------------*/
  /*-- COLORS --*/
/*------------------------------------------------------------------*/
$white: rgb(255, 255, 255);
$blue: rgb(63, 163, 219);
$green: rgb(46, 204, 113);
$orange: rgb(237, 90, 77);
$text: rgb(75, 75, 75);
$dgrey: tint($text, 75%);
$lgrey: tint($text, 97%);
$bluegrey: rgb(111, 121, 139);





/*------------------------------------------------------------------*/
  /*-- FONTS --*/
/*------------------------------------------------------------------*/
$lato: 'Lato', 'Open Sans', sans-serif;
$montserrat: 'Montserrat', 'Open Sans', sans-serif;
