@import "bootstrap-sass-3.3.2/assets/stylesheets/bootstrap";
@import 'vars';
@import 'base';
@import 'elements';
@import 'create_project_page';
@import 'project_detail_page';
@import 'register_page';

/*------------------------------------------------------------------*/
  /*-- Logo styles --*/
/*------------------------------------------------------------------*/
.logo {
  padding-top: .25em;
  padding-left: .25em;
  @media (min-width: 768px) {
    padding-top: .43em;
  }

  img {
    width: 150px;

    @media(max-width: 320px) {
      width: 120px;
    }
    @media (min-width: 768px) {
      width: 212px;
      height: 76px;
    }
    @media (min-width: 992px) {
      margin-left: 1rem;
    }
    @media (min-width: 1240px) {
      margin-left: 1.56em;
    }
  }
}



/*------------------------------------------------------------------*/
  /*-- Main Navigation styles --*/
/*------------------------------------------------------------------*/
#main_nav {
  margin-top: 0;

  ul li a, ul li a:link, ul li a:visited {
    font-family: $montserrat;
    font-size: 1.16em;
    text-transform: uppercase;
    color: $bluegrey;
  }
  ul>li a:hover, ul>li a:active {
    color: $text;
  }
  ul li>ul li.divider {
    height: 1px;
    width: 100%;
  }
  ul li>ul li a, ul li>ul li a:link, ul li>ul li a:visited {
    color: $text;
    font-size: 1em;
  }
  ul li>ul li a:hover, ul li>ul li a:active {
    color: $bluegrey;
  }


  @media(min-width: 768px) and (max-width: 991px) {
    margin-top: .2em;

    ul>li {
      padding: .465em;
      margin-left: 1.1em;
      margin-right: 1.1em;
    }

    ul li {
      padding: .1em;
    }
    ul li>ul li {
      height: auto;
      padding: auto;
      margin-left: 0;
      margin-right: 0;
    }

    ul>li a:hover, ul>li a:active {
      color: $blue;
    }


    ul>li:nth-child(3) {
      @media(min-width: 768px) and (max-width: 991px) {
        margin-left: 5rem;
      }
      @media(min-width: 911px) and (max-width: 991px) {
        margin-left: 8rem;
      }
    }
    ul>li:nth-child(4) {
      margin-left: 3.2rem;
      margin-right: 3.2rem;
    }
    ul li>ul li {
      margin-left: 0;
      margin-right: 0;
    }
    ul li>ul li:nth-child(3) {
      margin-left: 0;
    }
    ul li>ul li:nth-child(4) {
      @media(min-width: 768px) and (max-width: 992px) {
        margin-left: 0;
        margin-right: 0;
      }
    }
 }

  @media (min-width: 992px) {
    margin-top: 3.48em;

    ul>li:not(last-child) {
      margin-right: 1.4rem;
    }
    ul>li a, ul>li a:link, ul>li a:visited {
      border-top: solid .25em $white;
      padding: .465em;
    }
    ul>li a:hover, ul>li a:active {
      border-top: solid .25em $blue;
    }
    ul li>ul li a, ul li>ul li a:link, ul li>ul li a:visited {
      border-top: none;
    }
    ul li>ul li a:hover, ul li>ul li a:active {
      border-top: none;
    }
  }
}
/*-- the line that separates main menu links on small view --*/
hr {
  width: 130%;
  margin-top: 0;
  margin-bottom: 0;
}


/*-- to adjust the LOGOUT and USERNAME buttons after successful log-in procedure --*/
#logout {
  width: 30%;
}
#username-btn {
  width: 68%;
  background-color: $orange;
  border-color: $orange !important;

  &:hover {
    background-color: darken($orange, 5%);
  }
}
/*------------------------------------------------------------------*/
  /*-- Group of circle buttons --*/
/*------------------------------------------------------------------*/
.circles {
  display: inline-block;
  margin-bottom: .5em;

  @media(max-width: 1199px) and (min-width: 1100px) {
    padding-left: 3.75em;
  }
  @media(min-width: 992px){
    padding-left: 3.5em;
  }
  @media(min-width: 1200px){
    padding-left: 0;
  }
}

/*-- Humburger btn --*/
.mobile-circle-button {
  margin-bottom: .9em;
  margin-top: .9em;
}

.circles>div div {
  width: 11.25rem;
}
.circles>div div:nth-child(2) {
  margin-top: .6em;
}

/*------------------------------------------------------------------*/
  /*-- Flags for language button --*/
/*------------------------------------------------------------------*/
/*
  SassyFlags - v1.4
  Daniel Thomas
*/
//Default variables
$flag-x: 2.35rem !default; //changed from 48px to correct the visual effect
$flag-y: 2.35rem !default;

//Base
.flag {
  @extend .inline-block;
  width: $flag-x; height: $flag-y;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0;
/* Austria */  &.AT, &.at { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/AT+(Austria)'); }
/* UK */       &.GB, &.gb { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/UK+(United+Kingdom).svg'); }
}
// Cross browser inline-block
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}




/*------------------------------------------------------------------*/
  /*-- Footer styles --*/
/*------------------------------------------------------------------*/
footer {
  margin-top: 1rem;
  background-color: $bluegrey;

  div {
    margin-top: 1rem;
    margin-bottom: 1em;
  }

  .socialmedia button {
    margin: 0 auto;
    background-color: $blue;
  }

  .socialmedia a {
    display: inline-block;
  }

  .socialmedia {
    margin-top: 2rem;
  }

  .socialmedia > div {
    width: 10.5rem;
    margin: 0 auto;
  }

  .socialmedia div:nth-child(2) {
    width: auto;
    @media(min-width: 768px) {
      width: 19rem;
    }
  }

  .socialmedia div:nth-child(3) {
    width: 100%;
  }

  .socialmedia form {
    width: 21.6rem;
    margin: 0 auto;
  }

  .socialmedia form div:first-of-type {
    display: inline-block;
    width: 16rem;
    margin-top: .9rem;
    vertical-align: middle;
    @media(min-width: 768px) and (max-width: 991px) {
      width: 11rem;
    }
  }

  .socialmedia input {
    width: 16rem;
    @media(min-width: 768px) and (max-width: 991px) {
      width: 11rem;
    }
  }

  #newsletter {
    display: inline-block;
    vertical-align: bottom;
    background-color: $dgrey;
  }

  .footer-text-content a, h5, p {
    display: block;
    color: $white;
  }

  .footer-text-content h5 {
    font-family: $montserrat;
    font-size: 1rem;
 /*-- to adjust the text size for different views --*/
    @media(min-width: 768px) and (max-width: 991px) {
      font-size: 1rem;
      line-height: 1rem;
    }
    @media(min-width: 992px) {
      font-size: .9rem;
    }
  }

  .footer-text-content a, p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7rem;
 /*-- to adjust the text size for different views --*/
    @media(min-width: 768px) and (max-width: 991px) {
      font-size: .7rem;
      line-height: 1.2rem;
    }
    @media(min-width: 992px) {
      font-size: .7rem;
      line-height: 1rem;
    }
  }

  .footer-text-content a {
    text-decoration: underline;
  }

  .footer-text-content a:hover {
    text-decoration: none;
  }

  .footer-text-content p {
    font-weight: 100;
    line-height: 1.4rem;
    @media(min-width: 992px) {
      line-height: 1rem;
    }
  }

  .footer-text-content p a {
    display: inline-block;
    line-height: auto;
    vertical-align: top;
  }

  div:nth-child(3) i {
    margin-right: 1rem;
    @media(min-width: 992px) {
      margin-right: .6rem;
    }
  }

/*-- to adjust the position of three footer's blocks --*/
  @media(min-width: 992px) {
    div:nth-child(2) {
      left: -20rem;
    }
  }

  .no-bottom-margin {
    margin-bottom: 0;
  }

  .footer-text-content p {
    font-weight: 100;
  }
  .footer-text-content p a {
    display: inline-block;
    line-height: auto;
    vertical-align: top;
  }
}




/*------------------------------------------------------------------*/
  /*-- Jumbotron styles --*/
/*------------------------------------------------------------------*/
.jumbotron {
  padding: 0;

  div {
    padding: 0;

    h1, p {
      color: $white;
    }

/*-- Correcting some Slick default styles --*/
    .slick-prev, .slick-next, .slick-next::before, .slick-prev::before {
      display: none !important;
    }
    .slick-slide img {
      @media (min-width: 1366px) {
        margin: 0 auto;
      }
    }
    .slick-dots li button:before {
      font-size: .875rem;
      color: $bluegrey !important;
    }
    .slick-dots li .slick-active button:before {
      color: $bluegrey !important;
      opacity: 100% !important;
    }
  }

  .jumbotron-text {
    position: absolute;
    top: 2rem;
    left: 5rem;

    text-shadow: 3px 2px 3px rgba(50, 50, 50, 1);

    @media (max-width: 768px) {
      top: 0rem;
      left: 0rem;
      padding: 1em;
      padding-top: 0;
      background-color: rgba(0, 0, 0, .5);
    }
    @media (min-width: 1366px) and (max-width: 1500px) {
      left: 14rem;
    }
    @media (min-width: 1501px) {
      left: 30%;
    }

    p:nth-child(3) {
      margin-top: 3rem !important;

      @media(min-width: 768px) {
        margin-top: 6rem !important;
      }
    }
  }
}

.caption {
  h3 {
    font-size: 1.8rem;
    height: auto;
    @media(min-width: 768px) and (max-width: 991px) {
      height: 4.5rem !important;

    }
    @media(min-width: 992px) {
      height: 6rem !important;
    }
  }
  p:first-of-type {
    font-size: 1.1rem;
    height: auto;
    @media(min-width: 768px) and (max-width: 991px) {
      height: 8rem !important;
    }
    @media(min-width: 992px) {
      height: 11.1rem !important;
    }
  }
}


/*------------------------------------------------------------------*/
  /*-- Project Tiles styles --*/
/*------------------------------------------------------------------*/
/*-- Progress bar styles --*/
.percentage {
  margin-bottom: 0;

  font-family: $montserrat;
  font-size: 1.3rem;
  color: $green;
}

.progress {
  background: $dgrey;
}
.prog-bar-green {
  background-color: $green !important;
  min-width: 2em;

  span {
    font-size: 2em;
    line-height: 40px;

  }
}

/*-- Finished + check styles --*/
.finished-green {
  font-family: $montserrat;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $green;
}







/*------------------------------------------------------------------*/
  /*-- Sponsors Carousel styles --*/
/*------------------------------------------------------------------*/
.sponsors_carousel, #sponsors-page {
  .slick-prev, .slick-next, .slick-prev:before, .slick-next:before {
    display: block !important;
    color: $bluegrey !important;
  }

  div img {
    min-width: 150px;
    height: auto;
  }
}

/*-- to show the sponsor's name --*/
.logo-name {
  display: block;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;

  padding: .5rem;

  font-size: 1rem;
  font-weight: 700;
  color: $white;

  .form-element {
    cursor: pointer;
  }
}




/*------------------------------------------------------------------*/
  /*-- Modules styles --*/
/*------------------------------------------------------------------*/
.module {
  .module-submit {
    font-family: $lato;
    font-size: 1.1rem;
    background-color: $bluegrey;
    border-color: $bluegrey;

    @media(max-width: 1240px) {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }
  .module-submit:hover, .module-submit:focus, .module-submit:active {
    color: $white;
    border-color: $lgrey;
  }
}
#search_module {
  height: auto;
}
#search-for-this {
  margin-top: 1.2rem;
}









/*------------------------------------------------------------------*/
  /*-- Contact page, Login page styles --*/
/*------------------------------------------------------------------*/
#help-page, #login-page {
  font-size: 1.1rem !important;

  .no-projects {
    margin-bottom: 2rem;
  }

  input:not([type=submit]):not([type=checkbox]), input[type=password], textarea {
    box-shadow: inset 0 0.5rem 0 0 $bluegrey;

    &:hover, &:focus, &:active {
      box-shadow: inset 0 0.5rem 0 0 $blue;
    }
  }

  .form-group {
    margin-bottom: 0 !important;
    margin-top: .925em;
  }

  .form-error {
    padding: 0;
    background: none;
    border: none;
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.8rem;
  }
  .form-error li {
    list-style-type: disc !important;
  }

  .cpp-error {
    margin-top: 0 !important;
    margin-bottom: 1rem;
  }

/*-- Login page buttons -*/
  #log-me-in {
    margin-left: 0;
    margin-right: 0;
    font-size: 1em !important;
  }
  #forgot-my-password {
    margin-left: 0;
    margin-right: 0;
    background-color: $bluegrey !important;
    color: $white !important;
    font-family: $lato;
    font-size: 1em !important;
    &:hover {
      background-color: darken($bluegrey, 10%) !important;
    }
  }
}

#login-page {
  .form-error {
    padding-left: 1rem;
  }
}





/*------------------------------------------------------------------*/
/*-- How It Works page styles --*/
/*------------------------------------------------------------------*/
#how-it-works {
  font-size: 1.1rem;
  img {
    width: 110px;
  }
  .add-nav {
    position: fixed;
    top: 8rem;
  }

  .form-element {
    margin-left: .65rem !important;
    margin-right: .65rem !important;

    @media(min-width: 1200px) {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
  }
  div h4 {
    font-weight: 700 !important;
    margin-bottom: .1rem;
    margin-top: 1.6rem !important;
    @media(max-width: 992px) {
      margin-top: 2rem !important;
    }
  }

  i {
    margin-right: .4rem !important;
  }
  i.fa-check {
    color: $green;
    margin-right: 1rem !important;
  }

  .team {
    font-size: 1rem;
    margin-bottom: .1rem;
  }
  .team-role {
    color: $bluegrey !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    @media(min-width: 992px) {
      height: 3rem;
    }
  }

  .sidemenu-item {
    font-size: 1rem;
    box-shadow: inset  0.5rem 0 0 0 $bluegrey !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    &:hover, &:active, &:focus {
      box-shadow: inset  0.5rem 0 0 0 $blue !important;
    }
  }
}

.xs-mt {
  @media(max-width: 991px) {
    margin-top: 2rem;
  }
  @media(min-width: 992px) {
    margin-bottom: 2em;
  }
}

/*------------------------------------------------------------------*/
/*-- Flash Message styles --*/
/*------------------------------------------------------------------*/
.flash-message {
  position: absolute;
  z-index: 20;
  padding: 1rem;
  font-size: 1.1em;
  font-weight: 700;
  color: $blue;
  background: tint($blue, 75%);
  border: 1px dashed $blue;
}