/*------------------------------------------------------------------*/
  /*-- BASIC STYLES FOR THE HTML AND BODY --*/
/*------------------------------------------------------------------*/
html {
  min-width: 300px;
  max-width: 100%;
  overflow-x: hidden;

  background-color: $lgrey;
  color: $text;

  font-size: 1rem;
  line-height: 1.65em;

  input[disabled] {
    cursor: not-allowed;
  }

}

body {
  padding-top: 4.09rem;
  background-color: $lgrey;

  color: $text;
  font-family: $lato;

  @media(min-width: 768px) {
    padding-top: 9.15rem;
  }
  @media(min-width: 992px) {
    padding-top: 6.39em;
  }
}

h1 {
  color: $white;
}

h2 {
  font-family: $montserrat;
  font-size: 2.5rem;
  color: $bluegrey;
  letter-spacing: .06em;
}

h3{

}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

label {
  font-weight: normal;
}

.heading {
  padding-top: 0.65rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $bluegrey;
  border-top: 2px solid $bluegrey;
}

.mt-3em {
  margin-top: 3rem;
}

.mb-3em {
  margin-bottom: 3rem;
}

.mb-6em {
  margin-bottom: 6rem;
}

.mt-2em {
  margin-top: 1.6rem;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.pad-zero {
  padding: 0 !important;
}
