/*------------------------------------------------------------------*/
  /*-- BASIC STYLES FOR THE HTML AND BODY --*/
/*------------------------------------------------------------------*/
html {
  min-width: 20rem;

  background-color: $lgrey;
  color: $text;

  font-size: 1rem;
  line-height: 1.65em;
}

body {
  padding-top: 5rem;
//  padding-bottom: 88px;
  background-color: pink;

  color: $text;
  font-family: $lato;

  h1 {
    color: $white;
  }

  h2 {
    font-family: $montserrat;
    color: $bluegrey;
  }

  @media(min-width: 768px) {
    padding-top: 10.1rem;
  }
  @media(min-width: 992px) {
    padding-top: 7em;
  }
}
