/*------------------------------------------------------------------*/
  /*-- BASIC STYLES FOR THE HTML AND BODY --*/
/*------------------------------------------------------------------*/
html {
  background-color: $lgrey;
  color: $text;

  font-family: $lato;
  font-size: 1rem;
  line-height: 1.65em;

  h1 {
    color: $white;
  }

  h2 {
    font-family: $montserrat;
    color: $bluegrey;
  }
}

body {
  padding-top: 6.25rem;
}