.dgrey{
  background: $dgrey;
}

.boarder{
  border: 3px solid $dgrey;
}


#project_statistics{

  h4{
    text-transform: uppercase;
    font-size: 14px;
    font-family: $lato;
  }
  @media(max-width: 767px) {
    height: 47.5em;
  }

}

#time-text{
  @media(max-width: 320px){
    font-size: 1.3rem;
  }
}

/* Countdown */
.countdown-value {
  border: 3px solid $dgrey;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5em;
  width: 4.5em;
  height: 4.5em;
  @media(min-width: 992px) and (max-width: 1199px) {
    margin: 0.2em;
  }
  @media(max-width: 320px){
    margin: 0;
  }
}

.countdown-value span {
  display: block;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  padding-top: 0.15em;
//  @media(max-width: 400px){
//    font-size: 1.8em;
//  }


}
#time strong {
  margin: 0.4em;
  text-transform: uppercase;
  width: 5.0em;
  display: inline-block;
  @media(min-width: 992px) and (max-width: 1199px){
    margin: 0.75em;
    font-size: 0.7rem;
  }
  @media(max-width: 320px) {
    margin: 0.4em 0.2em;
    font-size: 0.8rem;
  }

}

.contribute {
  margin: 1em 0 1em 0;
  font-size: 1.6em;
  @media(min-width: 992px) and (max-width: 1199px){
    font-size: 1rem;
  }
}

#facebook-share {
  @extend .no-outline;
  background: $bluegrey;
  margin: .5em 0 1em 0;
  width: 80%;

  &:hover {
    background-color: darken($bluegrey, 7%) !important;
  }

}

#email-share {
  outline: none;
  background: $text;
  margin: .5em 0 1em 0;
  width: 80%;

  &:hover {
    background-color: darken($text, 7%) !important;
  }

}

#favorite {
  @extend .no-outline;
  background-color: $orange !important;
  margin: .5em 0 1em 0;
  width: 80%;

  &:hover {
    background-color: darken($orange, 7%) !important;
  }

}

.description{
  font-size: 1.1rem;
  margin-top: 1em;
  line-height: 2rem;
}

#contribution-packs a {
    text-decoration: none;
}

.pack1 {
  background: $bluegrey;
  color: $white;
  padding: 0.5em;
  margin-top: 2em;
  border-radius: 0.35em;
  width: 100%;
  font-size: 1.05rem;
  @media(min-width: 768px) and (max-width: 991px) {
    width: 45%;
    margin: 2%;
  }
}

.pack1:hover {
  background-color: darken($bluegrey, 7%) !important;
}

.packs2-4 {
  background: $blue;
  color: $white;
  padding: 0.5em;
  border-radius: 0.35em;
  margin-top: 2em;
  width: 100%;
  font-size: 1.05rem;
  @media(min-width: 768px) and (max-width: 991px) {
    width: 45%;
    margin: 2%;
  }
}

.packs2-4:hover{
  background-color: darken($blue, 7%) !important;
}

.list-item {
  list-style: disc;
  text-align: left;
  margin-left: 1.5em;
}

.project-gallery {
  // prev and next button size and position
  .slick-prev {
    left: 40px;
    width: 40px;
    height: 40px;

    &:before {
      font-size: 40px;
      color: $blue;
    }
  }

  .slick-next {
    right: 40px;
    width: 40px;
    height: 40px;

    &:before {
      font-size: 40px;
      color: $blue;
    }
  }
}

#closing-btn {
  background-color: #ed5a4d;
  border-color: #ed5a4d !important;
}

#closing-btn:hover {
  background-color: #eb4536;
}

.modal-sm{
  font-size: 1.2rem;
  height: 3em;
}

.modal-body{
  min-height: 0 !important;
}

.modal{
  top: 40%;
}

.modal-backdrop{
  position: fixed;
}