/*------------------------------------------------------------------*/
/*-- REGISTER PAGE SPECIFIC --*/
/*------------------------------------------------------------------*/
.register-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.checkbox-wrapper {
  padding: 1rem 0;
  background: $white;
  border: 1px solid $dgrey;
  border-radius: 0.35rem;

  label {
    padding: 0 0.5rem;
    margin-bottom: 0;
    color: $blue;
    font-size: 1.1em;
    font-weight: 600;
  }

  input[type="checkbox"] {
    width: 1.1em;
    height: 1.1em;
  }
}

.business-name-wrapper {
  display: none;
}

.display-block {
  display: block;
}