@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.userpanel-section {
  @extend .form-element;
  @extend .form-radius-btm-only;
  @extend .create-project-fieldset;

  border: none;

}

.userpanel-active {
  @extend .fieldset-active;
}

.finished-td, .ongoing-td {
  @extend .finished-green;

  padding: 0;
  font-size: 1em !important;
  line-height: 1em !important;
}

.ongoing-td {
  color: $blue !important;
}

.contribute-td {
  @extend .contribute;

  margin: 0;
  padding: 0 0.5em 0 0.5em;
  height: auto !important;
  font-size: 1em !important;
  font-family: $montserrat !important;
}

.btn_sec-td {
  @extend .btn_sec;

  padding: 0 !important;
  font-weight: 700 !important;
  vertical-align: top !important;
}

.table-currency {
  padding-left: 8px !important;
  padding-right: 5rem !important;
}